html, body {
    margin: 0;
}

.columns {
    height: 100vh;
    margin-top: 0;
}

.navbar {
    margin-top: -0.75rem;
    margin-left: -0.75rem;
}

#sidebar {
    padding-left: 1.25rem;
}

#sidebar > .tabs, .field {
    width: 18.5rem;
}

#finder-search-wrap {
    position: relative;
}

#finder-search-wrap > #search-message {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    visibility: hidden;
    font-size: 1.25rem;
    color: #fff;
}

#finder-search-wrap > #search-back {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    visibility: hidden;
    cursor: pointer;
}

#finder-content {
    margin: 1.5rem 0;
    height: calc(100vh - 10.25rem);
    overflow-y: auto;
}

#playlist {
    height: calc(100vh - 11rem);
}

#playlist > .table {
    margin-left: -0.375rem;
    table-layout: fixed;
}

#playlist > .table:first-child {
    margin-top: 0.375rem;
    margin-bottom: 0;
}

#playlist > .table:first-child > thead > tr > th {
    font-size: 1.125rem;
    text-align: left;
}

.playlist-title-column {
    width: 32%;
}

.playlist-artist-column {
    width: 23%;
}

.playlist-album-column {
    width: 32%;
}

.playlist-duration-column {
    width: 13%;
}

.playlist-item {
    transition: background-color 250ms ease;
    cursor: pointer;
}

.playlist-item.is-loaded {
    background-color: #A9A9A9;
}

.playlist-item.has-cursor {
    border-top: 2px solid #646464;
    border-bottom: 2px solid #646464;
}

.table.is-scrollable {
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100% - 2.75rem);
    table-layout: fixed;
}

.table.is-scrollable > tbody {
    width: 100%;
    display: table;
}

#controller {
    height: 5rem;
}

#controller > .column > .notification {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

#progress-bar-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#progress-bar-wrap > span {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 0.05rem 0.05rem 0.25rem #000;
}

#progress-bar {
    width: 75%;
    box-shadow: 0rem 0rem 0rem 0.1rem #fff;
    transition: box-shadow 200ms ease;
}

#progress-bar:hover {
    box-shadow: 0rem 0rem 0.125rem 0.125rem #fff;
}

.modal {
    display: block;
}

.modal-card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.modal-card-foot {
    justify-content: flex-end;
}

.field-label > label {
    width: 10rem;
}